@use "@/styles/theme/responsive" as *;

.Intro {
  margin-bottom: 52px;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;

  @include tablet-lg {
    grid-template-columns: 1fr;
  }
}
