@use "@/styles/theme/responsive" as *;

.Section {
  position: relative;
}

.none {
  padding-block: 0;
}

.compact {
  padding-block: 64px;

  @include tablet-sm {
    padding-block: 48px;
  }
}

.regular {
  padding-block: 110px;

  @include desktop-sm {
    padding-block: 88px;
  }

  @include tablet-sm {
    padding-block: 64px;
  }
}

.loose {
  padding-block: 110px 130px;

  @include desktop-sm {
    padding-block: 88px 104px;
  }

  @include tablet-sm {
    padding-block: 64px 72px;
  }
}

.default {
  background-color: var(--color-background);
}

.surface {
  background-color: var(--color-surface);
}

.transparent {
  background-color: transparent;
}

.bordered {
  border-top: 1px solid var(--color-border);
}
